.import-and-preview {
  align-items: center;
  justify-content: center;

  &__title {
    color: white;
    text-align: center;
  }

  &__thumbnail {
    width: 200px;
    height: 100px;
  }

  div {
    display: flex;
    justify-content: center;
    padding: 20px;

    input {
      width: 200px;
    }
  }
}
