.import-and-preview {
  align-items: center;
  justify-content: center;

  &__title {
    color: white;
    text-align: center;
  }

  &__thumbnail {
    width: 200px;
    height: 100px;
  }

  &__thumbnail_container {
    display: flex;
    flex-wrap: wrap;
    flex-flow: space-between;
  }

  &__thumbnail_item:hover {
    border: 1px solid white;
  }

  &__thumbnail_item {
    position: relative;
    .close {
      padding: 2px;
      position: absolute;
      width: 20px;
      height: 20px;
      background: red;
      right: 0px;
      top: 0px;
    }
    .close:hover {
      cursor: pointer;
    }
  }

  div {
    display: flex;
    justify-content: center;
    padding: 20px;

    input {
      width: 200px;
    }
  }
}
